{% extends "base.jinja" %}
{% block title %} Timestamp Verifier {% endblock %}
{% block content %}
<form>
    <label for="Time">Time: </label>
    <input id="time" readonly="true" />
    <label for="timestamp">Timestamp: </label>
    <input id="timestamp"  readonly="true" />
    <label for="token">Verification Token: </label>
    <input id="token"  readonly="true" />

    <input type="button" value="Show Token" id="show_token">

</form>
<p> Please copy and paste your timestamp and verification token into your speedrun.com submission</p>

<script src="static/index.js" defer></script>
{% endblock %}